/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=EB+Garamond&display=swap');

/* Asterisk wildcard selector to override default browser style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'EB Garamond', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #337061;
}


/* style for header title */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-box {
    background-color: #1FEDBB;
    width: 100%;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
}

header h1 {
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
    text-align: center;
    color: #2a442f;
    font-family: 'Lato', sans-serif;
}

/* style for nav-bar */

.nav-bar,
.nav-links {
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
    background-color: #337061;

}

/* div around links to give some spacing */
.link-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

/* remove bulletpoints from nav, expand button width */
.nav-links li {
    list-style-type: none;
}

/* font and button styling for nav links adapted using information in https://www.w3schools.com/html/html_links.asp */
.nav-links a {
    margin-right: 1px;
    color: #ffffff;
    background-color: #B44422;
    padding: 3px 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    height: 2.5em;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

/* border-radius composed using https://www.w3schools.com/cssref/tryit.php?filename=trycss3_border-radius  */
/* border-radius on bottom left corner for nav home button */
#nav-link-home {
    border-radius: 8px 0 0 50px;
    padding-left: 20px;
}

/* border-radius on bottom right corner for nav survey button */
#nav-link-survey {
    border-radius: 0 8px 50px 0;
    padding-right: 20px;
}

.nav-size-normal {
    flex-grow: .8;
}

.nav-size-big {
    flex-grow: 1.6;
}

/* color change on nav button hover and active*/
.nav-bar .nav-links .active,
.nav-links a:hover {
    background-color: #772b13;
}

main {
    background-color: #337061;
    flex: 1 0 auto;
}

.orange-text {
    color: #f5e0c8;
}

/* Hero image styling */
.hero-img>img {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/* Hero text styling */
.hero-img {
    position: relative;
}

/* used https://www.w3schools.com/cssref/pr_class_position.php "try it yourself" to find best positioning */
.hero-text {
    position: absolute;
    bottom: 5%;
    right: 0;
    background-color: rgba(237, 80, 31, 0.6);
    padding: 10px;
    text-align: center;
    max-width: 50%;
}

.hero-text h2 {
    font-size: 120%;
    margin-bottom: 10px;
}

.hero-text p {
    padding-bottom: 0.5rem;
}

.text>p {
    padding: 1rem 3rem;
    font-style: italic;
}

/* Meet the author section, column layout for mobile and tablets */
.text-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}

#img-txt-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img-txt-wrap>p {
    margin: 1rem 0.5rem;
}

.meet-the-author p {
    text-align: center;
    margin: 2rem 2rem;
}

#author-img {
    height: 75vw;
    margin: 20px;
}

/* Footer - based on love running project by CodeInstitute */
#footer-icons {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    bottom: 0;
}

footer {
    display: block;
    background-color: #1FEDBB;
}

#footer-icons i {
    font-size: 200%;
    padding: 5%;
    color: #456E4D;
}

/* base styling for book images used for sizes smaller than laptop*/
.book-images img {
    width: 100%;
}

.book-images p {
    text-align: center;
    margin: 0.5em;
}

#section-wrap {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



/* survey page styling */
/* Form styling */
.text-center {
    text-align: center;
    display: block;
    width: 100%;
}
.text-center>h2,
.text-center>p {
    margin: 1rem 2rem;
    font-size: 150%;
}


.survey-form {
    flex-grow: 1;
    margin: 2rem 0.3rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    letter-spacing: normal;
}

label,
legend {
    color: #000000;
    padding: 0.5rem 0;
}

fieldset {
    padding: 0.3rem 1rem;
}

/* Placeholder image styling */
.placeholder-image>img {
    flex-grow: 1;
    width: 100%;
    max-height: 400px;
}

/* Submit button styling */
.submit-button {
    background-color: #B44422;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 1rem;
}

.submit-button:hover {
    background-color: #ED501F;
}

/* text styling on form submit page */
#registration-confirmation {
    padding: 3rem 1rem;
}

/* recipe page styling */
/* Recipe Hero Section */
.recipe-hero {
    position: relative;
}

.recipe-hero-img {
    margin-top: 1rem;
    width: 100%;
}

.recipe-hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px 5px 0;
    background-color: rgba(237, 80, 31, 0.6);
    color: #fff;
}

.recipe-hero-text h2,
.recipe-hero-text h3,
.recipe-hero-text h4 {
    padding-bottom: 6px;
}

/* Ingredients Section */
.ingredients-section {
    margin: 1.5rem 1rem 1rem 1rem;
}

.ingredients-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.ingredients-wrap h2 {
    text-align: center;
    color: #2a442f;
    padding-bottom: 1rem;
}

/* autofill grid layout for ingredients, 2-3 columns for mobile */
.ingredients-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 116px));
    gap: 10px;
    padding-left: 1rem;
}

.ingredients-list li {
    margin-bottom: 10px;
    color: black;
}

/* Instructions section */
.instructions-section {    
    text-align: center;
    margin: 1.5rem 1rem 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.instructions-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-section>div {
    margin-bottom: 3rem;
}

.instructions-section img {
    max-width: 280px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.instructions-section h4,
.instructions-section h3,
.instructions-section h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: black;
}

.instructions-section p {
    margin-bottom: 1rem;
    color: black;
    max-width: 500px;
}

/* Media Query: smaller mobiles (318px and lower) */
@media screen and (max-width:318px) {

    /* this style was added to better fit the hero text on the image as font-size was causing text to bleed into other areas */
    .hero-text {
        font-size: smaller;
        text-align: right;
        padding: 4px;
    }
}

/* Media Query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        background-color: #1FEDBB;
    }

    /* navigation buttons height and background*/
    .nav-bar,
    .nav-links {
        background-color: #1FEDBB;
        height: 100%;
    }

    .nav-links>li,
    .link-box,
    .link-box>a {
        height: 100%;
    }

    /* removing rounding on link-boxes */
    #nav-link-home {
        border-radius: 0 0 0 0;
        padding-left: 20px;
    }

    #nav-link-survey {
        border-radius: 0 0 0 0;
        padding-right: 20px;
    }

    .link-box>a {
        font-size: large;
    }

    /* hiding quote as did not look as good on larger screen sizes */
    .quote {
        display: none;
    }

    main .hero-img {
        display: flex;
        flex-direction: column;
        padding-top: 0.1rem;
        width: auto;
    }

    .hero-text {
        font-size: 150%;
        position: relative;
        max-width: 100%;
    }

    /* meet the author styling */

    .text-centered {
        text-align: center;
        display: block;
        width: 100%;
    }

    /* div container to allow text and image to be displayed side by side */
    #img-txt-wrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: space-evenly;
    }

    #author-img {
        max-height: 500px;
    }

    #img-txt-wrap p {
        margin-left: 20px;
        width: 45%;
    }

    /* book images styling */
    .book-images {
        display: flex;
        justify-content:space-evenly;
        align-items: start;
    }

    .image-wrapper {
        margin: 0 1rem;
        text-align: center;
    }

    .image-wrapper img {
        width: 100%;
        max-width: 600px;        
    }

    .image-wrapper p {
        margin-top: 0.5rem;
        font-size: 1rem;
    }

}

/* Media Query: laptops and larger (1024 px and up), previously 1080px but changed to match chrome devtools option */
@media screen and (min-width:1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 4rem;
        background-color: #1FEDBB;
    }

    /* giving title area more space on the screen as the nav bar did not look as good when taking up half the space on larger screens */
    #title-box {
        background-color: #1FEDBB;
        width: 66%;
    }

    header h1 {
        text-align: left;
        margin-left: 4rem;
        font-size: large;
    }

    .nav-bar {
        background-color: #337061;
        width: 33%;
    }

    /* section wrap for author and book images */

    #section-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* meet the author styling */
    .text-centered {
        text-align: left;
        flex-grow: 2;
    }

    .text-centered>h2 {
        margin-top: 1rem;
        text-align: center;
        font-size: 150%;
        letter-spacing: 3px;
    }

    #img-txt-wrap p {
        font-size: 120%;
    }
/* book-images styling */
    .image-wrapper p {
        font-size: 1.5rem;
    }

    /* survey form styling */

    /* Placeholder image styling */
    .placeholder-image>img {
        margin-left: 3rem;
        border-radius: 10px;
        flex-grow: 1;
        width: 100%;
        max-height: 400px;
    }

    /* recipe styling */
    #recipe-wrap-laptop {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
    }


    .recipe-hero {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 3rem 10% 1rem;
    }

    .recipe-hero-img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        max-width: 600px;
        margin-top: 0;
    }

    .recipe-hero-text {
        position: static;
        padding: 20px;
        background-color: rgba(237, 80, 31, 0.7);
        /* Semi-transparent orange background */
        color: #fff;
        /* White text color for contrast */
        border-radius: 0 0 10px 10px;
        max-width: 600px;
    }

    .ingredients-section {
        width: 45%;
        max-width: 600px;
    }

    .ingredients-section li {
        margin-right: 10px;
    }

    /* styling to make 2 ingredients columns on 1024px  */
    .ingredients-list {
        grid-template-columns: repeat(auto-fill, minmax(120px, 150px));
    }

    .instructions-wrap{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-evenly;
    }

    .instructions-wrap>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .instructions-wrap>div>div{
        display: flex;
        flex-direction: row;
        align-items: start;
        text-align: left;
        }

    .instructions-wrap>div>div>p{
    margin-left: 2rem;
    max-width: 300px;
    }
}

/* media query for screensize over 1440px */
@media screen and (min-width:1440px) {
    .hero-text,#section-wrap,.book-images{
        align-content: center;
        width: 1440px;
        margin: auto;
    }
}